* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

ul {
    width: 500px;
    list-style-type: none;
}

li {
    display: inline-block;
    box-sizing: content-box;
    padding: 60px;
    border: 1px solid #000;
}